<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.getRenderer>
				<!--
				Get Controller Renderer
				Allows you to infer the controller name from the name of the Rendering Item (must be a Controller Rendering type Item)
				You do not have to set the Controller or Controller Action fields. It assumes "Index" for the action, and constructs
				the controller name from the name of the Rendering (attempts to turn the name into a valid C# class name).
				Direct replacement for Sitecore's default GetControllerRenderer, and is backwards compatible.
				-->
				<processor 
					patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc']" 
					type="Constellation.Foundation.Mvc.Pipelines.GetRenderer.GetControllerRenderer, Constellation.Foundation.Mvc"
				/>

			</mvc.getRenderer>
			<mvc.renderRendering>
				<!-- 
				Generate Rendering Specific Cache Key
				Allows you to use the same controller and controller action on different Rendering Items that produce different HTML output.
				Direct replacement for Sitecore's default GenerateCacheKey pipeline processor.
				-->
				<processor
					patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']"
					type="Constellation.Foundation.Mvc.Pipelines.RenderRendering.GenerateRenderingSpecificCacheKey, Constellation.Foundation.Mvc"
				/>
				<!--
				Minify and Add Recorded HTML to Cache
				Uses WebMarkupMin by Andrey Taritsyn to attempt to minify the output before adding it to the cache and/or sending it to the Response.
				Can handle Javascript, CSS, HTML or any variation of the three. Note: Does not activate minification in Experience Editor modes.
				Direct replacement for Sitecore's default AddRecordedHtmlToCache.
				-->
				<processor
					patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']"
					type="Constellation.Foundation.Mvc.Pipelines.RenderRendering.MinifyAndAddRecordedHtmlToCache, Constellation.Foundation.Mvc"
				/>
			</mvc.renderRendering>
		</pipelines>
		<settings>
			<!--  
			Rendering Item Path Root
			Specifies the portion of the RenderingItem's Full Path to ignore when constructing the file system path to the matching View.
			You do not have to use filesystem-friendly names, the ViewResolver will attempt to construct a filesystem-friendly path at runtime.
			
			The $Area token can be used to specify the value of the Area name specified in the Rendering Item.
			
			Default: "/sitecore/layout/renderings/project/$Area"
			-->
			<setting name="Constellation.Foundation.Mvc.RenderingItemPathRoot" value="/sitecore/layout/renderings/project/$Area" />

			<!--  
			View Root Path
			Specifies the starting folder location on disk to prefix the RenderingItem's path when using that path to resolve a View.
			
			The $Area token can be used to specify the value of the Area name specified in the Rendering Item.
			Default: "~/Areas/$Area/Views"
			-->
			<setting name="Constellation.Foundation.Mvc.ViewRootPath" value="~/Areas/$Area/Views" />
		</settings>
	</sitecore>
</configuration>
