<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Foundation.Contexts" version="10.2.0.28849" targetFramework="net48" />
  <package id="Constellation.Foundation.Data" version="10.2.0.28920" targetFramework="net48" />
  <package id="Constellation.Foundation.ModelMapping" version="10.2.0.30381" targetFramework="net48" />
  <package id="Constellation.Foundation.Mvc" version="10.2.0.19468" targetFramework="net48" />
  <package id="Constellation.Foundation.PackageVerification" version="10.2.0.29227" targetFramework="net48" />
  <package id="Constellation.Foundation.UrlFriendlyPageNames" version="10.2.0.21736" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
</packages>