#folders
[Aa]rtifacts/
[Bb]in
[Bb]in/[Dd]ebug*/
[Bb]in/[Rr]elease*/
*[Dd][Ss]_[Ss]tore
[Dd]atabases/
/packages
!App_Data/*
!App_Data/packages
!lib/[Ss]itecore/readme.[Mm][Dd]
lib/[Ss]ystem/*
!lib/[Ss]ystem/readme.[Mm][Dd]
obj/
.vs/
/node_modules
.nuget/
_ReSharper*/

/target
temp/
/.vs

#files
[Cc]onnection[Ss]trings.[Dd]ebug.config
Thumbs.db
[Tt]est[Rr]esult*
.sonar
vars.user.cmd
.vscode
nCrunchTemp*.*

#extensions
*_i.c
*_p.c
*.aps
*.bak
*.cache
*.docstates
*.exe
*.ilk
*.lib
*.log
*.ncb
*.ncrunchproject
*.ncrunchsolution
*.nupkg
*.obj
*.pch
*.pdb
*.sbr
*.sln.ide
*.suo
*.tlb
*.tlh
*.tmp
*.user
*.userprefs
*.vspscc
