<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
		<sitecore>
			<constellation>
				<!--
				FIELD AND FIELD ATTRIBUTE MAPPING
				
				Controls how the ModelMapper handles fields it encounters based upon the Sitecore Field Type string. When mapping, the Mapper will feed the field
				into each FieldMapper defined for a given field type. This allows you to easily build "contingency" field mappers, or to map XML Field attributes
				to properties on your Model ex: Item.Fields["Link"] may be a General Link field with properties such as "Title" or "Target" that you want to capture
				in your model, by specifying Model properties such as the following: model.Link, model.LinkTitle, model.LinkTarget.
				
				Custom Field Mappers must descend from FieldMapper<T> where T is the expected type of the Property you want to map the field to.
				
				Note that FieldMapper will automatically attempt to map a string using FieldRenderer for page editor support, unless appropriate Attributes are set
				on the Property to change this behavior.
				
				Fields that do not have explicit field mappers will be mapped using the defaultFieldMapper type provided here. Default value is:
				"Constellation.Foundation.ModelMapping.FieldMappers.TextFieldMapper, Constellation.FoundationModelMapping"
				
				ignoreStandardFields causes field mapping to ignore Sitecore fields where field names start with a double-underscore. Default is "true"
				
				continueOnError allows for exceptions to be handled and logged by the ModelMapper. Setting this to false will cause ModelMapper to re-throw the exception.
				default is "true".
				-->
				<modelMapping 
					defaultFieldMapper="Constellation.Foundation.ModelMapping.FieldMappers.TextFieldMapper, Constellation.Foundation.ModelMapping"
					ignoreStandardFields="true"
					continueOnError="true">
					<field type="Checkbox">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.CheckboxFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Date">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.DateFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="DateTime">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.DateFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Number">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.IntegerFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.DecimalFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Droplink">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkTargetItemMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Droplist">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkTargetItemMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Grouped Droplist">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkTargetItemMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Droptree">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.InternalLinkTargetItemMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="File">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.FileFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Image">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.ImageFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.ImageAltMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.ImageHeightMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.ImageWidthMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="General Link">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkAnchorMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkClassMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTargetMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTextMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTitleMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTargetItemMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkUrlMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="General Link with Search">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkFieldMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkAnchorMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTargetMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTextMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTitleMapper, Constellation.Foundation.ModelMapping"/>
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.GeneralLinkTargetItemMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Checklist">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.MultilistFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Multilist">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.MultilistFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Multilist with Search">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.MultilistFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="Treelist">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.MultilistFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
					<field type="TreelistEx">
						<fieldMapper type="Constellation.Foundation.ModelMapping.FieldMappers.MultilistFieldMapper, Constellation.Foundation.ModelMapping"/>
					</field>
				</modelMapping>
			</constellation>
			<services>
				<!--
				Register IModelMapper with Dependency Injection
				-->
				<configurator type="Constellation.Foundation.ModelMapping.ServicesConfigurator, Constellation.Foundation.ModelMapping"/>
			</services>
		</sitecore>
</configuration>