<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Foundation.Data" version="9.0.6.23290" targetFramework="net462" />
  <package id="Constellation.Foundation.ModelMapping" version="9.0.33.27934" targetFramework="net462" />
  <package id="Constellation.Foundation.PackageVerification" version="9.0.6.25105" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
</packages>