<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Foundation.Data" version="10.1.0.26345" targetFramework="net48" />
  <package id="Constellation.Foundation.ModelMapping" version="10.1.4.22077" targetFramework="net48" />
  <package id="Constellation.Foundation.PackageVerification" version="10.1.0.26447" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.5" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.1.0" targetFramework="net48" />
</packages>