<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!-- Houses all settings for all Constellation packages -->
		<constellation>
			<!-- Constellation.Feature.SitemapXml -->
			
			<!-- ROBOTS.TXT Handler Settings
				Feature.SitemapXml ships with a very basic Robots.TXT handler
				It dynamically produces the output of a robots.txt document for
				the context site when requested. The document contains just a few
				lines, one indicating that all robots follow the same rules,
				and one line that either disallows the entire site, or points the robot
				to the sitemap.xml document (which we also generate on the fly)
			
				allowed = true | false, if false, robots.txt file will contain a deny = / line. default true.
			-->
			<robotsTxt allowed="true">
			</robotsTxt>
			<!-- 
				SITEMAP.XML Handler Settings
			-->
			<sitemapXml>
				<!-- 
					It is in the programmer's interest to create unique site crawlers for the installation, if not on a project-by-project basis.
					The default crawler provided here will be used if a given site does not have its own crawler defined. SitemapXml ships with a 
					very basic crawler that starts at the context site's root node and walks down the tree one level at a time looking for Items
					that have presentation details. It stops when the maximum tree depth (set by Sitecore) is reached. This is a pretty inefficent
					crawler, and it does not have any considerations for hidden pages or no-index/no-follow logic.
				-->
				<defaultCrawler type="Constellation.Feature.SitemapXml.DefaultCrawler, Constellation.Feature.SitemapXml"/>
				
				<!--
					It is in the programmer's interest to create unique sitemap nodes for thie installation, if not on a project-by-project basis.
					The default sitemap node provided here will be used if a given site does not have its own node defined. SitemapXml ships with a
					very basic Sitemap Node that looks at the current item and gets "stock" Sitecore facts about it. If you're using an ORM framework,
					the base SitemapNode classes provide you with many methods to interrogate your item and supply the best values for a given XML node
					in the SITEMAP.XML document.
				-->
				<defaultSitemapNode type="Constellation.Feature.SitemapXml.DefaultSitemapNode, Constellation.Feature.SitemapXml"/>
				<!--
					The cache timeout value can be defined for each site in the installation. the generated SITEMAP.XML will be cached for the duration specified
					for the site or the value below if not specified on the site. The default value of 45 minutes represents a safe value below the threshold of
					the SITEMAP.XML node's documented shortest duration of 1 hour. If your pages do not change that frequently and are not created frequently, 
					a higher duration should be set.
				-->
				<defaultCacheTimeout minutes="45"/>
			</sitemapXml>
		</constellation>
		<!-- 
			Settings on the Site level will override the default values established for the SitemapXml Feature above for the context site specified. 
			The website definition below is an example of how these values should be injected into the Sitecore configuration.
		-->
		<sites>
			<site name="website">
				<patch:attribute name="sitemapXmlCrawlerType">Constellation.Feature.SitemapXml.DefaultCrawler, Constellation.Feature.SitemapXml</patch:attribute>
				<patch:attribute name="sitemapXmlNodeType">Constellation.Feature.SitemapXml.DefaultSitemapNode, Constellation.Feature.SitemapXml</patch:attribute>
				<patch:attribute name="sitemapXmlCacheTimeout">45</patch:attribute>
			</site>
		</sites>
	</sitecore>
</configuration>