<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>

		<!-- 
		The following Service replaces the stock LinkManager with the SwitchingLinkManager. This piece is mandatory!
		-->
		<services>
			<configurator type="Constellation.Foundation.Linking.ReplaceLinkManagerWithSwitchingLinkManagerConfigurator, Constellation.Foundation.Linking" />
		</services>

		<!--
		Add your custom LinkProvider to the stock collection of Link Providers. Important: Leave the defaultProvider to "sitecore"
		to prevent breaking any of the Sitecore console. Examples follow:
		
		<linkManager defaultProvider="sitecore">
			<providers>
				<add name="exampleProvider" type="Example.Feature.ExampleProvider, Example.Feature"
				     addAspxExtension="false"
				     alwaysIncludeServerUrl="false"
				     encodeNames="true"
				     languageEmbedding="asNeeded"
				     languageLocation="filePath"
				     lowercaseUrls="true"
				     shortenUrls="true"
				     useDisplayName="false"/>
				<add name="exampleProvider-differentconfig" type="Example.Feature.ExampleProvider, Example.Feature"
				     addAspxExtension="false"
				     alwaysIncludeServerUrl="false"
				     encodeNames="true"
				     languageEmbedding="asNeeded"
				     languageLocation="filePath"
				     lowercaseUrls="true"
				     shortenUrls="true"
				     useDisplayName="false"/>
			</providers>
		</linkManager>
		-->
		
		
		<!--
		To specify a LinkProvider for your site, or to specify a unique LinkProvider configuration for your site, patch in the name
		of the appropriate LinkProvider configuration in the site's definition. Examples follow:
		
		<sites>
			<site name="example-site">
				<patch:attribute name="linkProvider">exampleProvider</patch:attribute>
			</site>
			<site name="example-site-different-config">
				<patch:attribute name="linkProvider">exampleProvider-differentconfig</patch:attribute>
			</site>
		</sites>
		-->
	</sitecore>
</configuration>
