<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Foundation.Data" version="9.0.2.17866" targetFramework="net462" />
  <package id="Constellation.Foundation.ModelMapping" version="9.0.18.17384" targetFramework="net462" />
  <package id="Constellation.Foundation.Mvc" version="9.0.3.25614" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="WebMarkupMin.Core" version="2.4.0" targetFramework="net462" />
  <package id="WebMarkupMin.Mvc" version="1.1.0" targetFramework="net462" />
  <package id="WebMarkupMin.Web" version="1.1.1" targetFramework="net462" />
</packages>