<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Foundation.Caching" version="10.0.0.21896" targetFramework="net48" />
  <package id="Constellation.Foundation.Data" version="10.0.0.22111" targetFramework="net48" />
  <package id="Constellation.Foundation.ModelMapping" version="10.0.0.23188" targetFramework="net48" />
  <package id="Constellation.Foundation.Mvc" version="10.0.0.22680" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="10.0.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.0.0" targetFramework="net48" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="WebMarkupMin.Core" version="2.5.6" targetFramework="net471" />
  <package id="WebMarkupMin.Mvc" version="1.1.0" targetFramework="net462" />
  <package id="WebMarkupMin.Web" version="1.1.1" targetFramework="net462" />
</packages>