<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
	<sitecore>

		<settings>

			<!--  USE SERVER-SIDE REDIRECT FOR REQUEST ERRORS
			
			Overwrite the default value (false) because the Redirect Manager needs to use Server.Transfer instead of Response.Redirect 
			to redirect request to service pages when an error occurs (item not found, access denied etc).
			This will allow the Redirect Manager to set an appropriate response code.
			-->
			<setting name="RequestErrors.UseServerSideRedirect">
				<patch:attribute name="value">true</patch:attribute>
			</setting>
		</settings>

		<commands>
			<command name="redirectmanager:delete" type="Constellation.Feature.Redirects.Commands.Delete,Constellation.Feature.Redirects"/>
			<command name="redirectmanager:newredirect" type="Constellation.Feature.Redirects.Commands.New,Constellation.Feature.Redirects"/>
			<command name="redirectmanager:clearall" type="Constellation.Feature.Redirects.Commands.ClearAll,Constellation.Feature.Redirects"/>
			<command name="redirectmanager:import" type="Constellation.Feature.Redirects.Commands.Import,Constellation.Feature.Redirects"/>
			<command name="redirectmanager:export" type="Constellation.Feature.Redirects.Commands.Export,Constellation.Feature.Redirects"/>
			<command name="redirectmanager:editredirect" type="Constellation.Feature.Redirects.Commands.Edit,Constellation.Feature.Redirects"/>
		</commands>

		<AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
			<rules>
				<rule name="shell">
					<ignore contains="Applications/Redirect Manager" />
				</rule>
			</rules>
		</AntiCsrf>

		<AntiCsrf>
			<rules>
				<rule name="shell">
					<ignore contains="Applications/Redirect Manager"/>
				</rule>
			</rules>
		</AntiCsrf>

		<pipelines>
			<httpRequestBegin>
				<!-- 
				REDIRECT RESOLVER
				
				If the Sitecore.Context.Item is null, Attempt to match the requested URL to a redirect rule. If there is a match,
				appropriate response codes and redirects are performed.
				
				This processor must be called after all Site, Language, and Item resolvers, but before any Page Not Found resolvers
				and the Device and Layout resolvers. The patch:after below is a "safe bet". Your configuration may need to differ.
				
				Note that this processor should only run for custom websites and should explicitly not run for Sitecore system sites.
				The current config specifies which sites are ignored. Your configuration may differ.
				-->
				<processor
							type="Constellation.Feature.Redirects.Pipelines.HttpRequest.RedirectResolver, Constellation.Feature.Redirects"
							patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
					<databasesToIgnore>core</databasesToIgnore>
					<sitesToIgnore>shell,login,admin,service,modules_shell,modules_website,scheduler,system,publisher</sitesToIgnore>
					<pathsToIgnore>/sitecore,/trace,/layouts,/_dev</pathsToIgnore>
				</processor>
			</httpRequestBegin>

			<initialize>
				<!--
				Kicks off the Package Verifier, which has a separate configuration area to keep the Initialize pipeline clear.
				-->
				<processor type="Constellation.Foundation.PackageVerification.Pipelines.Initialize.PackageVerifier, Constellation.Foundation.PackageVerification" role:require="Standalone or ContentManagement" />
			</initialize>
		</pipelines>

		<services>
			<!--
				Register the controller.
				-->
			<configurator type="Constellation.Feature.Redirects.ServiceConfigurator, Constellation.Feature.Redirects"/>
		</services>
		<constellation>
			<!--
			Package Verifier Configuration
			
			defaultProcessorType: Must descend from the default value - Constellation.Foundation.PackageVerification.PackageProcessor, Constellation.Foundation.PackageVerification
			
			package nodes: 
					name: Just to make them easy to spot. Should be unique. Also allows you to sc:patch them!
					packageFileName: the name of the .zip file. IMPORTANT: should already exist in data-folder/packages.
					processorOverrideType: If you don't want to use the default processor.
					
					Artifacts: Items that will exist if the package referenced was previously installed. Should be something a user wouldn't modify.
					You can supply more than one if you have to check multiple databases or disparate parts of the content tree.
					
					
					id: the ID of the Item that should exist
					database: the database where the Item lives, typically master or core.
			
			-->
			<packageVerifier defaultProcessorType="Constellation.Foundation.PackageVerification.PackageProcessor, Constellation.Foundation.PackageVerification">
		<package name="Constellation.Feature.Redirects" packageFileName="Constellation-Feature-Redirects-Items.zip">
			<artifact id="{F992FAD4-541E-4DDB-8684-FC13DE2B5C0B}" database="core"/>
			<artifact id="{68AD9063-78E7-48EA-BC7D-E85298419E94}" database="core"/>
			<artifact id="{31C7A761-8472-42C7-AB59-E4B5F881AB1B}" database="core"/>
			<artifact id="{3F6771A6-9140-42D0-8CD0-80058D4408CC}" database="master"/>
			<artifact id="{3D3BFF42-2BB6-411C-B01C-B8664F9496EF}" database="master"/>
			<artifact id="{07FDE145-14DF-4898-A131-371DBFA2C6BE}" database="master"/>
		</package>
	  </packageVerifier>
		</constellation>
	</sitecore>
</configuration>