<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Feature.PageTagging" version="10.0.1.28803" targetFramework="net48" />
  <package id="Constellation.Foundation.Caching" version="10.0.1.23545" targetFramework="net48" />
  <package id="Constellation.Foundation.Data" version="10.0.0.22111" targetFramework="net48" />
  <package id="Constellation.Foundation.Linking" version="10.0.1.23852" targetFramework="net48" />
  <package id="Constellation.Foundation.ModelMapping" version="10.0.1.23906" targetFramework="net48" />
  <package id="Constellation.Foundation.PackageVerification" version="10.0.0.22406" targetFramework="net48" />
  <package id="Constellation.Foundation.SitemapXml" version="10.0.1.24149" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.0.0" targetFramework="net48" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net48" />
</packages>