<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation.Feature.PageTagging" version="9.0.15.20990" targetFramework="net462" />
  <package id="Constellation.Foundation.Caching" version="9.0.4.23528" targetFramework="net462" />
  <package id="Constellation.Foundation.Data" version="9.0.6.23290" targetFramework="net462" />
  <package id="Constellation.Foundation.ModelMapping" version="9.0.32.25356" targetFramework="net462" />
  <package id="Constellation.Foundation.PackageVerification" version="9.0.6.25105" targetFramework="net462" />
  <package id="Constellation.Foundation.SitemapXml" version="9.0.5.28533" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
</packages>