<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<initialize>
				<!--
				Kicks off the Package Verifier, which has a separate configuration area to keep the Initialize pipeline clear.
				
				If you're having issues where Sitecore fails to start, ensure that this processor is installed DEAD LAST in the
				initialization pipeline. This particular problem tends to surface when you're using other 3rd party products
				that modify the initialize pipeline, like UCommerce or Glass.
				-->
				<processor
					type="Constellation.Foundation.PackageVerification.Pipelines.Initialize.PackageVerifier, Constellation.Foundation.PackageVerification"
					role:require="Standalone or ContentManagement" />
			</initialize>
			<httpRequestBegin>
				<!--
				Label Item Resolver
				
				Takes URLs that begin with /labels and (if they don't have a valid context item) attempts to assign a true Label Group Item to the Context Item.
				
				Will attempt to locate a Label Item at {site-root-path}/labels/{url-file-path}
				
				if this fails, it will attempt to locate a Label item at /sitecore/content/labels/{url-file-path}
				
				-->
				<processor
					type="Constellation.Foundation.Labels.Pipelines.LabelItemResolver, Constellation.Foundation.Labels"
					patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']">
					<databasesToIgnore>core, master</databasesToIgnore>
					<sitesToIgnore>shell,login,admin,service,modules_shell,modules_website,scheduler,system,publisher</sitesToIgnore>
					<pathsToIgnore>/sitecore,/trace,/layouts,/_dev,/_DEV</pathsToIgnore>
				</processor>
			</httpRequestBegin>
		</pipelines>
		<settings>
			<setting name="Constellation.Foundation.Labels.LabelFolderName" value="_labels" />
			<setting name="Constellation.Foundation.Labels.LabelFolderDisplayName" value="Labels" />
			<setting name="Constellation.Foundation.Labels.IncludeFeatureFoldersInPath" value="true" />
			<setting name="Constellation.Foundation.Labels.LabelUrlPrefix" value="/labels" />
		</settings>
		<constellation>
			<!--
			Package Verifier Configuration
			
			defaultProcessorType: Must descend from the default value - Constellation.Foundation.PackageVerification.PackageProcessor, Constellation.Foundation.PackageVerification
			defaultInstallMode="Merge" mergeMode="Clear"
			defaultMergeMode: [Append|Clear|Merge] default: Clear
			
			
			package nodes: 
					name: Just to make them easy to spot. Should be unique. Also allows you to sc:patch them!
					packageFileName: the name of the .zip file. IMPORTANT: should already exist in data-folder/packages.
					installMode: [Merge|Overwrite|SideBySide|Skip] if not supplied, default is used.
					mergeMode: [Append|Clear|Merge] if not supplied, default is used.
					processorOverrideType: If you don't want to use the default processor.
					
					Artifacts: Items that will exist if the package referenced was previously installed. Should be something a user wouldn't modify.
					You can supply more than one if you have to check multiple databases or disparate parts of the content tree.
					Please note that the fewer artifacts you have to verify the better for performance reasons.
					
					id: the ID of the Item that should exist
					database: the database where the Item lives, typically master or core.
			
			-->
			<packageVerifier
				defaultProcessorType="Constellation.Foundation.PackageVerification.PackageProcessor, Constellation.Foundation.PackageVerification"
				defaultInstallMode="Merge"
				defaultMergeMode="Clear"
			>
				<package name="Constellation.Foundation.Labels" packageFileName="Constellation-Foundation-Labels.zip" installMode="Merge" mergeMode="Clear">
					<artifact id="{9ECD73E6-1A4B-41BF-91F7-A687D8B8E146}" database="master"/>
					<artifact id="{FB71E3C4-B14C-4B85-8555-95471DE37CD3}" database="master"/>
				</package>
			</packageVerifier>
		</constellation>
	</sitecore>
</configuration>